<!DOCTYPE html> 
<html>
    <form action="action_page.php">
        <div class="container">
          <h1 style="text-align:center; font-size: 60px; color:darkgreen;">Rekisteröidy</h1>
          <hr style="color:darkgreen;">
      
          <label style="color:darkgreen;" for="username"><b>Käyttäjätunnus:</b></label>
          <input type="text" placeholder="nimi123" name="username" id="username" required>
      
          <label for="psw"><b>Salasana:</b></label>
          <input type="password" placeholder="salainensana" name="psw" id="psw" required>
      
          <label for="psw-repeat"><b>Salasana uudelleen:</b></label>
          <input type="password" placeholder="salainensana" name="psw-repeat" id="psw-repeat" required>
          <hr>
      
          <button type="submit" class="registerbtn">Rekisteröidy</button>
        </div>
      
        <div class="container signin">
       
    </form>
</html>