<!DOCTYPE html> 
<html>
    <h1 style="text-align:center; font-size: 60px; color:darkgreen;">Tervetuloa vaatevalitsimeen!</h1>
    <p style="text-align:center; font-size: 20px; color:darkgreen;">Kirjaudu sisään:</p>
    <form style="text-align: center; color:darkgreen;">
        <label for="username">Username:</label><br> <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br> <input type="password" id="pwd" name="pwd">
      </form>
    <h2></h2>
    <a style="margin-left: 855px; font-size: 20px; color:darkgreen;">Tai</a> <a href="register.html" style="font-size: 20px; color:darkgreen;">rekisteröidy</a>

</html>